<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card col-8 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{pet.petImage}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{pet.name}}</h5>
                        <h6 class="card-title"> Age:{{pet.age}}</h6>
                        <h6 class="card-title">Size:{{pet.size}}</h6>
                        <h6 class="card-title">Breed:{{pet.breed}}</h6>
                        <h6 class="card-title">Description{{pet.description}}</h6>
                        <h6 class="card-title"> Status: {{pet.status}}</h6>

                        <a href='/pets/{{pet._id}}/edit' class="btn btn-dark">edit profile</a>
                        <form action="/pets/{{pet._id}}/delete" method="POST" style="display: inline">
                            <input type="submit" value="delete profile" class="btn btn-danger">
                        </form>

                    </div>
                </div>
            </div>
            <a href="/" class="btn btn-dark">Inicio</a>
        </div>
    </div>
</div>