<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card col-8 h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{foundUser.image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{foundUser.username}}</h5>
                        <h6 class="card-title"> About me: {{foundUser.description}}</h6>
                        <h6 class="card-title">Role: {{foundUser.role}}</h6>
                        <h6 class="card-title">Email: {{foundUser.email}}</h6>
                        <h6 class="card-title">Address: {{foundUser.address}}</h6>
                        <h6 class="card-title"> Phone: {{foundUser.phone}}</h6>
                        {{#if isOwner}}
                        <a href="/user/{{user._id}}/edit" class="btn btn-warning">edit profile</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="display-3">Friends you can find in our shelter</h4>
    <hr>
    <div class="d-flex flex-wrap mt-5 gap-3">
        {{#each foundUser.pets}}
        <div id="petImage" class="card card-block">
            <img src="{{this.image}}" alt="Pet-image">
            <h5 class="card-title text-center mt-3 mb-3">{{this.name}}</h5>
            <p class="card-text text-center">{{this.status}}</p>
            <div class="d-flex"><a href="/pets/{{this.id}}/profile" class="btn btn-outline-dark text-center">Details</a>
            </div>

        </div>
        {{/each}}

    </div>
</div>