<div class="container mt-5 ">
    <div class="row">
        <h1 class="text-white text-uppercase">Maps</h1>
        <hr>
        <div class="col6 align-items-end">
            <figure id="myMap"></figure>
        </div>
    </div>
    <hr>
    <div>
        <table class="table align-middle mb-0">
            <thead class="bg-light">
                <tr id="tableEvent">
                    <th>Event Name</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Shelter</th>
                    <th>Confirm Assistance</th>
                </tr>
            </thead>
            <tbody>
                {{#each foundEvents}}
                <tr>
                    <td>
                        <div id="eventstable">
                            <div class="text-center">
                                <h4 class="fw-bold"><a id="eventName" href="/event/{{_id}}/details">{{title}}</a></h4>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <p>{{address}}</p>
                    </td>
                    <td class="text-center">
                        <p class="fw-normal">{{date}}</p>
                    </td>
                    <td class="text-center">
                        <p>{{owner.username}}</p>
                    </td>
                    <td class="text-center d-flex justify-content-center align-middle">
                        <form method="post" action="/event/{{_id}}/join" <p class="text-center"><button type="submit"
                                class="btn btn-outline-light text-center mb-3">Join</button></p>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjIJhN72PqJK2wdk2gLVBkE7XOh6ijmK8&callback=init"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>